<% include ../partials/header %>

<div class="row">
  <div class="col-md-4">
    <h1><%= user.firstName + " " + user.lastName %></h1>
    <div class="thumbnail">
      <img src="<%= user.avatar %>" alt="user profile image">
      <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
    </div>
    Some text Some text Some text Some text Some text Some text Some text
  </div>
  <div class="col-md-8">
    <h3>Campgrounds submitted by <%= user.username %>:</h3>
    <ul>
      <% campgrounds.forEach(function(cg) { %>
        <li><a href="/campgrounds/<%= cg.id %>"><%= cg.name %></a></li>
      <% }); %>
    </ul>
  </div>
</div>

<% include ../partials/footer %>
