<% include ../partials/header %>

  <div class="row">
    <div class="col-md-3">
      <div id="map"></div>
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
        <div class="card-body">
          <p class="float-right">$<%= campground.price %>/night</p>
          <h5 class="card-title"><%= campground.name %></h5>
          <p><em>Submitted by <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %></em></p>
          <hr>
          <p class="card-text"><%= campground.description %></p>
          <% if ((currentUser && (currentUser.isAdmin || campground.author.id.equals(currentUser.id)))) { %>
            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
              <input type="submit" class="btn btn-sm btn-danger" value="Delete">
            </form>
          <% } %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row">
          <% campground.comments.forEach(function(comment) { %>
            <div class="col-md-12 mb-2">
              <div class="card">
                <div class="card-body">
                  <div class="float-left col-lg-8">
                    <p class="card-title"><%= comment.author.username %></p>
                    <p class="card-text"><%= comment.text %></p>
                  </div>
                  <div class="float-right">
                    <p><%= moment(comment.createdAt).fromNow() %></p>
                    <% if (currentUser && (currentUser.isAdmin || comment.author.id.equals(currentUser.id))) { %>
                    <a class="btn btn-sm btn-warning"
                       href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit
                    </a>
                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                    </form>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          <% }); %>
          </div>
          <hr>
          <form class="form-comments" action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="card border-0">
              <div class="card-body">
                <div class="row">
                  <div class="card mr-3">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text" required>
                  </div>
                  <div class="card">
                    <button class="btn btn-lg btn-primary btn-block">Submit comment</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
      <a href="/campgrounds">Back</a>
    </div>
  </div>

<% include ../partials/footer %>
